<div class="row">
    <div class="col-md-1 col-md-offset-1" ng-if="!addMode" ng-show="!showAboutMode">
        <button type="button" class="btn btn-primary" ng-click="setAddMode(true)">Add Product</button>
    </div>
    <div class="col-md-1" ng-if="!addMode" ng-show="!showAboutMode">
        <button type="button" class="btn btn-danger" ng-disabled="!arrayForDelete.length" ng-click="removeProducts(arrayForDelete)">Delete</button>
    </div>
</div>
<div class="row" ng-if="addMode">
    <div class="col-md-4 col-md-offset-4">
        <form name="addProductForm" ng-submit="addProduct(newProduct)">
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" placeholder="Type" ng-model="newProduct.type">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Price" ng-model="newProduct.price">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="5" id="description" ng-model="newProduct.description"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Add product</button>
            <button type="button" class="btn btn-default" ng-click="cancelAddProduct()">Cancel</button>
        </form>
    </div>
</div>


<div class="row" ng-if="editProductMode">
    <div class="col-md-4 col-md-offset-4">
        <form name="addProductForm" ng-submit="editProduct(product)">
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" placeholder="Type" ng-model="product.type">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Price" ng-model="product.price">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="5" id="description" ng-model="product.description"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Edit product</button>
            <button type="button" class="btn btn-default" ng-click="cancelEditProduct()">Cancel</button>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-1" ng-if="!productList.length">
        <h3>No products in list</h3>
    </div>
</div>
<div class="row">
        <div class="col-md-12 col-md-offset-1" ng-show="showAboutMode && !editProductMode">
            <h3>About</h3>
            <p>Type: {{product.type}}</p>
            <p>Price: {{product.price}}</p>
            <p>Description: {{product.description}}</p>
            <button type="button" class="btn btn-primary" ng-click="goToFromAbout()">Back</button>
        </div>
</div>


<div class="row" ng-if="!addMode && !editProductMode">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Type</th>
                <th>Price</th>
                <th>About</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in productList track by $index">
                <td class="col-md-1"><input
                        type="checkbox"
                        ng-model="product.deleteThis"
                        ng-change="pushToArrayForDelete(product)"></td>
                <td class="col-md-1">{{$index + 1}}</td>
                <td class="col-md-2">{{product.type}}</td>
                <td class="col-md-2">{{product.price}}</td>
                <td class="col-md-3">
                    <button type="button" class="btn btn-primary" ng-click="showAbout(product)">About</button>
                </td>
                <td class="col-md-3">
                    <button type="button" class="btn btn-success" ng-click="setEditProductMode(product)">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>